body{
background-color: #ECFAE3;
font-size:13pt;
}
h3{
font-size:13pt;
font-weight:bold;
}
input{
font-size:13pt;
}
input[type=button]{
    cursor: pointer;
}
input[type=file]{
    cursor: pointer;
}
select{
font-size:13pt;
}
a:hover{
color: #FF3300;
}
table{
font-size:13pt;
border-collapse: collapse;
table-layout: fixed;
}
col#thId { width: 0px; }
col.tdId { width: 0px; }
td, th {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid #BDBDBD; /* Параметры рамки */
   }
th {
    background: #DDDDDD; /* Цвет фона */
    color: #333;  /* Цвет текста */
}
 tbody tr:hover {
    background: #ECF6CE; /* Цвет фона при наведении */
}
a{
	text-decoration:none;
	color:black;
}
#upload_file{
 position: absolute;
    width: 260px; 
    left: 250px; 
    top: 100px;
    font-size:10pt;
    text-align: left;
    
}
#upload_file table{
    width:550px;
    color:#24d;
}
#upload_file a:active{
color:#00f;
}
#upload_file td{
    padding: 0px; /* Поля вокруг содержимого таблицы */
    border: 0px solid #BDBDBD; /* Параметры рамки */
}
#upload_file tbody tr:hover {
background: #eee5de; /* Цвет фона при наведении */
}
#upload_file input{
    font-size:10pt;
    cursor:pointer;
}
#btnLogout{
position: absolute;
width:70px;
top:20px;
left:20px;
height:20px;
padding:0;
color:#0101DF;
font-size:9pt;
z-index: 50;
}
#bgOverlay{
position:absolute;  
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
	
}

#account{
width:400px;
height:180px;
text-align:center;
background-color: #E0F8E0;
display:none;
}

#modalWindow{
width:400px;
height:100px;
text-align:center;
background-color: #E0F8E0;
display:none;
}
#yes, #no{
position: relative;
top:20px;
  margin:auto;
}
#mod_txt{
position: relative;
top:10px;
}
#TB_overlay
{
   position:fixed;  
    z-index: 90;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #E0F8E0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
#TB_overlay1
{
   position:fixed;  
    z-index: 90;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=25);
    -moz-opacity: 0.25;
    -khtml-opacity: 0.25;
    opacity: 0.25;
}
#title{
position: absolute;
	top:-50px;
	width:630px;
	text-align:center;
}
#note1{
	position: absolute;
	top:-15px;
	width:630px;
	text-align:center;
	color:green;
}
#tposition{
	position: absolute;
    width: 630px; 
    height: 340px; 
    left: 50%; 
    top: 140px; 
    margin-left: -315px;
    margin-top: -40px;	
    padding: 10px;
}
#back{
position: absolute;
    width: 15px; 
    left: 20px; 
    top: -25px;
	
}
#forward{
position: absolute;
    width: 15px; 
    left: 620px; 
    top: -25px;
}
#spanModel{
  position: absolute;
    width: 150px;  
    left: 20px; 
    top: 35px; 
	text-align: right;
}
#newSpanModel{
  position: absolute;
    width: 150px;  
    left: 20px; 
    top: 35px; 
	text-align: right;
	display:none;
}
#delModel{
  position: absolute;
    width: 70px;  
    left: 540px; 
    top: 35px; 
	font-size:10pt;
	text-align: left;
	cursor: pointer;
}
#showNewModel{
  position: absolute;
    width: 230px;  
    left: 430px; 
    top: 35px; 
	font-size:10pt;
	text-align: left;
	cursor: pointer;
}

#showSelModel{
  position: absolute;
    width: 230px;  
    left: 430px; 
    top: 35px; 
	font-size:10pt;
	text-align: left;
	display:none;
	cursor: pointer;
}
#newModel{
  position: absolute;
    width: 230px; 
    left: 180px; 
    top: 30px; 
	display:none;
}
#selModel{
  position: absolute;
    width: 230px; 
    left: 180px; 
    top: 30px; 
}
#spanSection{
position: absolute;
    width: 150px; 
    left: 20px; 
    top: 68px; 
	text-align: right;
}
#spanNewSection{
position: absolute;
    width: 150px; 
    left: 20px; 
    top: 68px; 
	text-align: right;
	display:none;
}
#spanNewSection{
position: absolute;
    width: 150px; 
    left: 20px; 
    top: 68px; 
	text-align: right;
}
#selSection{
position: absolute;
    width: 230px; 
    left: 180px; 
    top: 65px; 
}
#newSection{
position: absolute;
    width: 230px; 
    left: 180px; 
    top: 65px; 
display:none;
}
#showInputNewSection{
position: absolute;
    width: 100px; 
    left: 430px;  
    top: 68px;
	font-size:10pt;
	cursor: pointer;
	
}

#showSelSection{
position: absolute;
    width: 90px; 
    left: 430px;  
    top: 68px;
	font-size:10pt;
	cursor: pointer;
	display:none;
}
#divDelSelectSection{
position: absolute;
    width: 90px; 
	font-size:10pt;	
    left:540px; 
    top: 68px;
	cursor: pointer;
	
}
#spanN{
  position: absolute;
    width: 150px; 
    left: 20px; 
    top: 100px;
	text-align: right;
}
#serial{
  position: absolute;
    width: 50px;  
    left: 180px; 
    top: 98px;
}
#spanDescript{
  position: absolute;
    width: 150px; 
    height: 50px; 
    left: 20px; 
    top: 133px; 
	text-align: right;
	
}
#descript{
  position: absolute;
    width: 400px; 
    left: 180px; 
    top: 132px; 
	font-size:13pt;
}
#spanTime{
  position: absolute;
    width: 150px; 
    left: 20px; 
    top: 188px; 
	text-align: right;
}
#time{
  position: absolute;
    width: 100px; 
    left: 180px; 
    top: 185px; 
}


#tList{
position: absolute;
    width: 780px; 
    left: 25px; 
    top: 330px; 
display:none;
}
#spanTable{
position: absolute;
    width: 800px; 
    left: 50%; 
	margin-left:-400px;
    top: 430px; 

}
#tbl{
 border-collapse: collapse;

	width:100%;
}

#trTable{
border-bottom: 1px solid black; /* Параметры границы */
font-weight: bold;
font-size:10pt;	

}
#thId{
width:100px;
font-size:1pt;
}
#thSerial{
width:30px;
text-align:center;
}
#thDescript{
width:500px;
text-align:Center;
}
#thModel{
width:180px;
text-align:center;
}
#thTime{
width:70px;
text-align:center;
}
#thPrice{
width:70px;
text-align:center;
}

.tdId{
width:0px;
font-size:0pt;
}
.tdSerial{
text-align:center;
}

.tdDescript{
text-align:left;
padding-left:10px;
 cursor:default;
}
.tdModel{
text-align:center;
}
.tdTime{
text-align:center;
}
.tdPrice{
text-align:center;
}



#btnAdd{
position: absolute;
    width: 100px; 
    left: 180px; 
    top: 255px; 

}
#btnUpdate{
position: absolute;
    width: 100px; 
    left: 285px; 
    top: 255px; 

}
#btnDelete{
position: absolute;
    width: 100px; 
    left: 390px; 
    top: 255px; 

}
#go{
position: absolute;
    width: 20px; 
    left: 500px; 
    top: 295px; 

}
#footer{
position: relative;
height:150px;
width:10px;
}
